  html {
              
                font-size: 20px;
                color:whitesmoke;
            }
            body{

               
                background-color: grey;
            }